minerd*
cpuminer
*.exe
*.o
*.d
gmon.out

autom4te.cache
.deps

Makefile
Makefile.in
INSTALL
configure.lineno
depcomp
missing
install-sh
stamp-h1
cpuminer-config.h*
compile
config.log
config.status
config.status.lineno
config.guess
config.sub

mingw32-config.cache

*/.dirstamp
*/*/.dirstamp
*/*/*/.dirstamp
*.iml

*.vcxproj.user
*.opensdf
*.sdf
*.suo
Release/
Debug/
x64/Release/
x64/Debug/
*.pdb/

installer/
res/cpuminer.aps
res/RC*
sign/
sign.sh

compat/curl-for-windows/
